.main-menu {
    list-style: none;
    padding: 20px;
}
.main-menu li {
    display: block;
    margin-bottom: 10px;
}
.main-menu li a {
    text-transform: uppercase;
    font-size: 16px;
}

/* Breadcrumb */

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
}
.breadcrumb li {
    margin-right: 10px;
}
